{
    "file-type": "settings", 
    "last-playlist": "default", 
    "last-scene": "single", 
    "mixer": {
        "last_playlist": "default", 
        "onset-holdoff": 0.1, 
        "paused": true, 
        "preset-duration": 10.0, 
        "shuffle": false, 
        "tick-rate": 40.0, 
        "transition": "Dissolve", 
        "transition-duration": 2.5, 
        "transition-slop": 1.0
    }, 
    "networking": {
        "clients": [
            {
                "color-mode": "RGB8", 
                "enabled": true, 
                "host": "127.0.0.1", 
                "port": 3020
            }, 
            {
                "color-mode": "RGB8", 
                "enabled": false, 
                "host": "172.16.0.32", 
                "port": 3020
                "name": "pi"
            }
        ]
    }
}
